{% extends 'tool_rental/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
    <table id="pricing_table" class="table table-striped">
  <thead>
    <tr>
      <th>Tool</th>
      <th>One Day</th>
      <th>< One Week</th>
      <th>> One Month</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Auger</th>
      <td>
        $80/day
    </td>
    <td>
        $40/day
    </td>
    <td>
        $20/day
    </td>
    </tr>
    <tr>
      <th scope="row">Nailgun</th>
      <td>
                $40/day
            </td>
            <td>
                $30/day
            </td>
            <td>
                $15/day
            </td>
    </tr>
    <tr>
      <th scope="row">Tilesaw</th>
      <td>
                $60/day
            </td>
            <td>
                $45/day
            </td>
            <td>
                $30/day
            </td>
    </tr>
    <tr>
      <th scope="row">Air Compressor</th>
      <td>
                $120/day
            </td>
            <td>
                $90/day
            </td>
            <td>
                $60/day
            </td>
    </tr>
    <tr>
      <th scope="row">Generator</th>
      <td>
                $200/day
            </td>
            <td>
                $150/day
            </td>
            <td>
                $100/day
            </td>
    </tr>
  </tbody>
</table>
        </div>
    <div class="col-md-4">
<p id="pricing_descrip">
        It doesn't make sense to pay a lot of money for a tool you may only use once or twice a year or for one specific project, leaving it to sit in your garage the remainder of the time. Sometimes you're better off renting. Here are some perks to renting tools instead of buying them:
        <ul id='perks'>
            <li>
                You always have the right tool for the right job. If you own a tool, you are tempted to use it for applications that might go faster with the tools that were designed for the job.
            </li>
            <li>
                Labor is the most expensive job cost, so the goal should be to make it more productive by using the right tools.
            </li>
            <li>
                Maintenance is an issue for people—they want others to maintain tools and equipment. When you rent you have no responsibility for routine maintenance. 
            </li>
            <li>
                By renting you tend to use the latest technology and updated equipment, which increases the probability for higher productivity. 
            </li>
            <li>
                Some projects are located in quiet zones that require battery-operated tools and equipment, making rentals an attractive option. 
            </li>
            <li>
                If a job requires more than one of the same tool, then a rental can be the best solution.
            </li>
        </ul>
    </p>
</div>
</div>
{% endblock %}
