{% load staticfiles %}
<html>
    <head>
        <title>Tools</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/tool_rental.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Some Tools Right Here</a></h1>
        </div>
        {% for tool in equip %}
        <div>
            <h2><a href="">{{ tool.tool_name }}</a></h2>
            <p>Tool Description: {{ tool.tool_descrip|linebreaksbr }}</p>
            <p>Day Price: {{ tool.day_price }}</p>
            <p>Week Price: {{ tool.week_price }}</p>
            <p>Month Price: {{ tool.month_price }}</p>
            <p>Number Available: {{ tool.num_available }}</p>
            <p>Date Added: {{ tool.date_added }}</p>
            <p>Date Last Rented: {{ tool.date_rented }}</p>
        </div>
        {% endfor %}
    </body>
</html>
